body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    to left top,
    #4c4b48,
    #524f42,
    #56543c,
    #585936,
    #595f30,
    #595f2b,
    #586026,
    #586021,
    #595b1c,
    #595617,
    #595112,
    #594c0e
  );
  width: 100vw;
  height: 100vh;
  color: white;
  position: relative;
}
