<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory game</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="popup">
        <h1>Great job you did it in 3 moves and 53 seconds!</h1>
      </div>
      <div class="game-panel">
        <h1 class="title">Memory Game</h1>
        <div class="containter">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
        <div class="statistics">
          <button class="restart">Play Again!</button>
          <p class="moves">0 moves</p>
          <p class="time">Time: 3 sec</p>
        </div>
      </div>
    </div>
  </body>
</html>
